{
    "accounts": [
        {
            "id": 1,
            "chatwootAccessToken": "",
            "chatwootAPIUrl": "",
            "whatsappWebGroupParticipantsCustomField": "",
            "whatsappWebInboxes": [
                {
                    "id": 1,
                    "prefixAgentNameOnMessages": true,
                    "slackToken": null,
                    "remotePrivateMessagePrefix": true
                }
            ]
        }
    ]
}
